command_history.txt
ponders_watched.json
servers.dat
servers.dat_old
TLauncherAdditional.json
usercache.json
usernamecache.json
Bogdan's Return.jar
Bogdan's Return.json
saves/
logs/
journeymap/
debug/
crash-reports/
screenshots/