# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Syntax: effectId 
# Syntax with a threshold: pollutionThreshold% -> effectId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
##########################################################################################################

Impacts {
    # List of entities with some immunity to pollution.
    # Syntax: pollutionThreshold% -> entityId 
    # Pollution threshold is the minimum percentage of pollution required to impact the specified entity.
    S:immuneEntities <
     >

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    carbon {
        # Effects spreading through air.
        S:air <
            40% -> minecraft:strength
            80% -> minecraft:regeneration
         >

        # Effects spreading through contact.
        S:contact <
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    sulfur {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:resistance
            60% -> minecraft:speed
         >

        # Effects spreading through contact.
        S:contact <
         >

        # Effects spreading through rain.
        S:rain <
            5% -> minecraft:resistance
            10% -> minecraft:speed
         >
    }

    ozone {
        # Effects spreading through air.
        S:air <
            50% -> minecraft:slowness
            60% -> minecraft:poison
            70% -> minecraft:wither
            80% -> minecraft:blindness
            
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
            minecraft:wither
         >

        # Effects spreading through rain.
        S:rain <
            50% -> minecraft:nausea
            70% -> minecraft:poison
            
         >
    }

    methane {
        # Effects spreading through air.
        S:air <
            20% -> minecraft:speed
            40% -> minecraft:haste
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:regeneration
            minecraft:resistance
            minecraft:speed
            minecraft:haste
         >

        # Effects spreading through rain.
        S:rain <
            20% -> minecraft:regeneration
            30% -> minecraft:speed
            40% -> minecraft:haste
            50% -> minecraft:strenght
         >
    }

    nitrogen {
        # Effects spreading through air.
        S:air <
            40% -> minecraft:haste
            50% -> minecraft:speed
            65% -> minecraft:strenght
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:regeneration
            minecraft:speed
            minecraft:strenght
         >

        # Effects spreading through rain.
        S:rain <
            10% -> minecraft:health_boost
            15% -> minecraft:regeneration
         >
    }

    carbonmonoxide {
        # Effects spreading through air.
        S:air <
            20% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:wither
         >

        # Effects spreading through rain.
        S:rain <
            20% -> minecraft:wither
         >
    }

    coaldust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    hydrogen {
        # Effects spreading through air.
        S:air <
            20% -> immersiveengineering:flammable
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    oxygen {
        # Effects spreading through air.
        S:air <
            50% -> immersiveengineering:flammable
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    flourine {
        # Effects spreading through air.
        S:air <
            25% -> immersiveengineering:flammable
            50% -> minecraft:poison
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
            minecraft:poison
            minecraft:wither
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    chlorine {
        # Effects spreading through air.
        S:air <
            25% -> immersiveengineering:flammable
            50% -> minecraft:poison
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
            minecraft:poison
            minecraft:wither
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

}


