# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Syntax: effectId 
# Syntax with a threshold: pollutionThreshold% -> effectId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
##########################################################################################################

Impacts {
    # List of entities with some immunity to pollution.
    # Syntax: pollutionThreshold% -> entityId 
    # Pollution threshold is the minimum percentage of pollution required to impact the specified entity.
    S:immuneEntities <
     >

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    carbon {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    sulfur {
        # Effects spreading through air.
        S:air <
            20% -> minecraft:blindness
            50% -> minecraft:poison
            80% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            5% -> minecraft:blindness
            15% -> minecraft:poison
         >
    }

    ozone {
        # Effects spreading through air.
        S:air <
            20% -> minecraft:speed
            40% -> minecraft:regeneration
            60% -> minecraft:haste
            80% -> minecraft:resistance
            
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:speed
            minecraft:haste
            minecraft:regeneration
         >

        # Effects spreading through rain.
        S:rain <
            10% -> minecraft:speed
            20% -> minecraft:haste
            
         >
    }

    methane {
        # Effects spreading through air.
        S:air <
            40% -> minecraft:nausea
            60% -> minecraft:poison
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:poison
            minecraft:nausea
            minecraft:slowness
            minecraft:mining_fatigue
         >

        # Effects spreading through rain.
        S:rain <
            30% -> minecraft:nausea
            40% -> minecraft:poison
            50% -> minecraft:slowness
            50% -> minecraft:mining_fatigue
            60% -> minecraft:hunger
         >
    }

    nitrogen {
        # Effects spreading through air.
        S:air <
            40% -> minecraft:blindness
            50% -> minecraft:poison
            65% -> minecraft:nausea
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
            minecraft:nausea
         >

        # Effects spreading through rain.
        S:rain <
            10% -> minecraft:blindness
            15% -> minecraft:nausea
         >
    }

    carbonmonoxide {
        # Effects spreading through air.
        S:air <
            20% -> minecraft:poison
            25% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:wither
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    coaldust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
            immersiveengineering:flammable
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    hydrogen {
        # Effects spreading through air.
        S:air <
            20% -> immersiveengineering:flammable
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
         >

        # Effects spreading through rain.
        S:rain <
            25% -> immersiveengineering:flammable
         >
    }

    oxygen {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:speed
            35% -> minecraft:haste
            50% -> immersiveengineering:flammable
            75% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:speed
            minecraft:haste
            immersiveengineering:flammable
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    flourine {
        # Effects spreading through air.
        S:air <
            10% -> minecraft:weakness
            20% -> immersiveengineering:flammable
            30% -> minecraft:poison
            50% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
            minecraft:wither
            minecraft:poison
            minecraft:weakness
         >

        # Effects spreading through rain.
        S:rain <
            5% -> minecraft:weakness
            20% -> minecraft:poison
            35% -> minecraft:wither
         >
    }

    chlorine {
        # Effects spreading through air.
        S:air <
            10% -> minecraft:slowness
            20% -> immersiveengineering:flammable
            30% -> minecraft:poison
            50% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            immersiveengineering:flammable
            minecraft:wither
            minecraft:poison
            minecraft:slowness
         >

        # Effects spreading through rain.
        S:rain <
            5% -> minecraft:slowness
            20% -> minecraft:poison
            35% -> minecraft:wither
         >
    }

}


